{% extends "layouts/base.html" %}
{% load bootstrap3 %}

{% block title %}Enviar Prova{% endblock %}
{% block pagtitle%}Envio de Prova - CACo{%endblock%}
{% block css %} <link href="/static/css/envio_bp.css" rel="stylesheet"> {%endblock%}

{% block content %}

<p>
Utilize o formulário abaixo para enviar provas ao banco de provas. As submissões serão revisadas e estão sujeitas a aprovação.
</p>

<p>
Os campos marcados com "*" são obrigatórios.
</p>

<div>
    <form enctype="multipart/form-data" role="form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
